
* {
	margin: 0;
	padding: 0;
}
.statistics {
	font-size: 1em;
	width: 412px;
	margin: 50px;
	font-family: sans-serif;
	color: rgba(115, 111, 111, 1);
}

.title {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2em;
}

.statList {
	display: flex;
	justify-content: left;
	color: rgba(255, 255, 255, 1);
	flex-wrap: wrap;
}

.item {
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 15px;
	line-height: 1.5em;
}